body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.ridal-coffee-shop {
    padding: 50px;
    text-align: center;
    background-image: url("pexels-mdsnmdsnmdsn-1405761.jpg");
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.ridal-coffee-shop:hover {
    transform: scale(1.02);
}

.header .title {
    font-size: 2.5rem;
    color: #c53698;
    margin-bottom: 10px;
    animation: fadeInDown 1s ease-in-out;
}

.header .subtitle {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 40px;
    animation: fadeInUp 1s ease-in-out;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.image-card {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-card:hover {
    transform: scale(1.05);
}

.image-card .image {
    width: 100%;
    height: auto;
    display: block;
}

.image-card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.image-card:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: zoomIn 0.6s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column;
        gap: 20px;
    }

    .image-card {
        width: 100%;
    }
}
